@config "../tailwind.config.ts";
@import "tailwindcss";

@layer base {
  :root {
    --background: 45 15% 90%;
    --foreground: 210 35% 18%;
    --primary: 210 40% 28%;
    --glow-amber: rgba(241, 216, 112, 0.4);
    --glow-indigo: rgba(165, 180, 252, 0.4);
  }

  .dark {
    --background: 210 40% 8%;
    --foreground: 45 20% 96%;
    --primary: 210 50% 60%;
    --glow-amber: rgba(252, 211, 77, 0.2);
    --glow-indigo: rgba(99, 102, 241, 0.2);
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}

/* .silver-3d {
  background: linear-gradient(
    to bottom,
    #fcfcfc 0%,
    #f3f1f1 30%,
    #9b9b9b 50%,
    #ffffff 75%,
    #ffffff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 1px 0 #a3a3a3,
    0 2px 0 #a3a1a1,
    0 3px 0 #c2c2c2,
    0 4px 0 #888686,
    0 6px 2px rgba(0, 0, 0, 0.25),
    0 8px 8px rgba(0, 0, 0, 0.35);
} */